dist
tmp
build
.idea
__pycache__
*.egg-info
cfm-wip
auto-tests-data*
test-data
test-data-org
test-data-org-sav
.cfm
env
tests
camerafile/bin/exiftool/*tmp*
*.dat
cfm.tar.gz
cfm.zip
camerafile/bin/exiftool/Image-ExifTool-11.97