requests
ImageHash==4.2.1
Pillow==9.3.0
jellyfish==0.9.0
numpy==1.22.3 # 1.19.3 ?
sklearn
face_recognition
reportlab==3.6.9
pyzipper==0.3.5
humanize==4.0.0
pyinstaller
dlib
git+https://github.com/Deconimus/quicktime-parser
kaitaistruct==0.9
exifread
tzlocal
pyyaml==6.0
dill
opencv-python

